{
  "swagger": "2.0",
  "info": {
    "title": "Companies House - Limited Partnerships API",
    "description": "An API to allow the registration, transition and update of Limited Partnerships",
    "version": "1.0.0"
  },
  "host": "api.companieshouse.gov.uk",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Incorporation"
    },
    {
      "name": "Limited Partnerships"
    },
    {
      "name": "General Partner"
    },
    {
      "name": "Limited Partner"
    },
    {
      "name": "Healthcheck"
    }
  ],
  "paths": {
    "/transactions/{transaction_id}/incorporation/limited-partnership": {
      "post": {
        "tags": [
          "Incorporation"
        ],
        "summary": "Create a Limited Partnership incorporation",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "201": {
            "description": "Limited Partnership Incorporation has been successfully created.",
            "schema": {
              "$ref": "#/definitions/CreatedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/incorporation/limited-partnership/{filing_resource_id}": {
      "get": {
        "tags": [
          "Incorporation"
        ],
        "summary": "Get a Limited Partnership incorporation",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include_sub_resources",
            "in": "query",
            "required": true,
            "type": "boolean",
            "description": "Whether to include sub-resources or not"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LimitedPartnershipIncorporationGetResponse"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/partnership": {
      "post": {
        "tags": [
          "Limited Partnerships"
        ],
        "summary": "Create a Limited Partnership submission",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LimitedPartnershipSubmission"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Limited Partnership Submission has been successfully created.",
            "schema": {
              "$ref": "#/definitions/CreatedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/partnership/{submission_id}": {
      "get": {
        "tags": [
          "Limited Partnerships"
        ],
        "summary": "Get Limited Partnership details",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LimitedPartnershipSubmission"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Limited Partnerships"
        ],
        "summary": "Update a Limited Partnership submission",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartnershipData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Limited Partnership Submission has been successfully updated."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/general-partner": {
      "post": {
        "tags": [
          "General Partner"
        ],
        "summary": "Create a General Partner submission",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeneralPartnerSubmission"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "General Partner Submission has been successfully created.",
            "schema": {
              "$ref": "#/definitions/CreatedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/general-partner/{submission_id}": {
      "get": {
        "tags": [
          "General Partner"
        ],
        "summary": "Get General Partner details",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/GeneralPartnerData"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "General Partner"
        ],
        "summary": "Update a General Partner details",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "submission_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeneralPartnerSubmission"
            }
          }
        ],
        "responses": {
          "200": {
             "description": "General Partner Submission has been successfully updated."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/limited-partner": {
      "post": {
        "tags": [
          "Limited Partner"
        ],
        "summary": "Create a Limited Partner submission",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LimitedPartnerSubmission"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Limited Partner Submission has been successfully created.",
            "schema": {
              "$ref": "#/definitions/CreatedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/limited-partnership/healthcheck": {
      "get": {
        "summary": "Health check URL returns 200 if service is running",
        "tags": [
          "Healthcheck"
        ],
        "responses": {
          "200": {
            "description": "Request has been received",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "PartnershipData": {
      "type": "object",
      "properties": {
        "partnership_name": {
          "type": "string"
        },
        "name_ending": {
          "type": "string",
          "enum": [
            "Limited Partnership",
            "LP",
            "L.P.",
            "Partneriaeth Cyfyngedig",
            "PC",
            "P.C."
          ]
        },
        "partnership_type": {
          "type": "string",
          "enum": [
            "LP",
            "PFLP",
            "SLP",
            "SPFLP"
          ]
        },
        "jurisdiction": {
          "type": "string",
          "enum": [
            "England and Wales",
            "Northern Ireland",
            "Scotland"
          ]
        }
      }
    },
    "GeneralPartnerData": {
       "type": "object",
       "properties": {
        "country": {
          "type": "string"
        },
        "date_effective_from": {
          "type": "string",
          "format": "date-time"
        },
        "date_of_birth": {
         "$ref": "#/definitions/DateOfBirth"
        },
        "etag": {
          "type": "string"
        },
        "forename": {
          "type": "string"
        },
        "former_names": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "governing_law": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "legal_entity_register_name": {
          "type": "string"
        },
        "legal_entity_registration_location": {
          "type": "string"
        },
        "legal_form": {
          "type": "string"
        },
        "nationality": {
          "type": "string"
        },
        "principal_office_address": {
           "$ref": "#/definitions/Address"
        },
        "registered_company_number": {
          "type": "string"
        },
        "resignation_date": {
          "type": "string",
          "format": "date-time"
        },
        "service_address": {
          "$ref": "#/definitions/Address"
        },
        "surname": {
          "type": "string"
        },
        "usual_residential_address": {
          "$ref": "#/definitions/Address"
        }
      }
    },
    "LimitedPartnershipIncorporationGetResponse": {
      "type": "object",
      "required": [
        "etag",
        "kind"
      ],
      "properties": {
        "etag": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "sub_resources": {
          "type": "object",
          "properties": {
            "general_partners": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "limited_partners": {
              "type": "array",
              "items": {
                "type": "object"
              }
            },
            "partnership": {
              "type": "object",
              "$ref": "#/definitions/LimitedPartnershipSubmission"
            }
          }
        }
      }
    },
    "LimitedPartnershipSubmission": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "$ref": "#/definitions/PartnershipData"
        }
      }
    },
    "GeneralPartnerSubmission": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
         "$ref": "#/definitions/GeneralPartnerData"
        }
      }
    },
    "LimitedPartnerSubmission": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "type": "object",
          "properties": {
            "limited_partner_type": {
              "type": "string",
              "enum": [
                "Person",
                "Legal Entity"
              ]
            }
          }
        }
      }
    },
    "Address" : {
      "type": "object",
      "required": [
        "address_line_1",
        "country",
        "locality",
        "postal_code",
        "premises"
      ],
      "properties": {
        "address_line_1": {
          "type": "string"
        },
        "address_line_2": {
          "type": "string"
        },
        "care_of": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "locality": {
          "type": "string"
        },
        "po_box": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "premises": {
          "type": "string"
        },
        "region": {
          "type": "string"
        }
      }
    },
    "DateOfBirth" : {
      "type": "object",
      "required": [
        "day",
        "month",
        "year"
      ],
      "properties": {
        "day": {
          "type": "integer"
        },
        "month": {
          "type": "integer"
        },
        "year": {
          "type": "integer"
        }
      }
    },
    "CreatedResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    }
  }
}

