{
  "swagger": "2.0",
  "info": {
    "title": "Companies House - Limited Partnerships API",
    "description": "An API to allow the registration, transition and update of Limited Partnerships",
    "version": "1.0.0"
  },
  "host": "api.companieshouse.gov.uk",
  "schemes": [
    "https"
  ],
  "tags": [
    {
      "name": "Incorporation"
    },
    {
      "name": "Partnerships"
    },
    {
      "name": "General Partners"
    },
    {
      "name": "Limited Partners"
    },
    {
      "name": "Validation Status"
    },
    {
      "name": "Filings"
    },
    {
      "name": "Healthcheck"
    }
  ],
  "paths": {
    "/transactions/{transaction_id}/incorporation/limited-partnership": {
      "post": {
        "tags": [
          "Incorporation"
        ],
        "summary": "Create a Limited Partnership incorporation",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/IncorporationSubmission"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Limited Partnership Incorporation has been successfully created.",
            "schema": {
              "$ref": "#/definitions/CreatedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/incorporation/limited-partnership/{filing_resource_id}": {
      "get": {
        "tags": [
          "Incorporation"
        ],
        "summary": "Get a Limited Partnership incorporation",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "include_sub_resources",
            "in": "query",
            "required": true,
            "type": "boolean",
            "description": "Whether to include sub-resources or not"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LimitedPartnershipIncorporationGetResponse"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/incorporation/limited-partnership/{filing_resource_id}/filings": {
      "get": {
        "tags": [
          "Incorporation",
          "Filings"
        ],
        "summary": "Returns the limited partnership filing data ready to send to CHIPS",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Filing Data",
            "schema": {
              "items": {
                "$ref": "#/definitions/GetFilingsResponse"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/incorporation/limited-partnership/{incorporation_id}/costs": {
      "get": {
        "tags": [
          "Costs"
        ],
        "summary": "Get payment costs for limited partnership",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "incorporation_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "List of costs",
            "schema": {
              "$ref": "#/definitions/CostsResponse"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/partnership": {
      "post": {
        "tags": [
          "Partnerships"
        ],
        "summary": "Create a Limited Partnership",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LimitedPartnershipSubmission"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Limited Partnership has been successfully created.",
            "schema": {
              "$ref": "#/definitions/CreatedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/partnership/{filing_resource_id}": {
      "get": {
        "tags": [
          "Partnerships"
        ],
        "summary": "Get Limited Partnership details",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LimitedPartnershipSubmission"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Partnerships"
        ],
        "summary": "Update a Limited Partnership",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/PartnershipData"
            }
          }
        ],
        "responses": {
          "200": {
            "description": "Limited Partnership has been successfully updated."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/partnership/{filing_resource_id}/validation-status": {
      "get": {
        "tags": [
          "Partnerships",
          "Validation Status"
        ],
        "summary": "Verify that the partnership resource is valid",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ValidationStatusResponse"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/partnership/{filing_resource_id}/filings": {
      "get": {
        "tags": [
          "Partnerships",
          "Filings"
        ],
        "summary": "Returns the partnership filing data ready to send to CHIPS",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Filing Data",
            "schema": {
              "items": {
                "$ref": "#/definitions/GetFilingsResponse"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/general-partner": {
      "post": {
        "tags": [
          "General Partners"
        ],
        "summary": "Create a General Partner",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeneralPartnerSubmission"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "General Partner has been successfully created.",
            "schema": {
              "$ref": "#/definitions/CreatedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/general-partner/{filing_resource_id}": {
      "get": {
        "tags": [
          "General Partners"
        ],
        "summary": "Get General Partner details",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/PartnerData"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "General Partners"
        ],
        "summary": "Update a General Partner details",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/GeneralPartnerSubmission"
            }
          }
        ],
        "responses": {
          "200": {
             "description": "General Partner has been successfully updated."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/general-partners": {
      "get": {
        "tags": [
          "General Partners"
        ],
        "summary": "Get a list of General Partners for a given transaction",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PartnerData"
              }
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/general-partner/{filing_resource_id}/validation-status": {
      "get": {
        "tags": [
          "General Partners",
          "Validation Status"
        ],
        "summary": "Verify that the general partner resource is valid",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ValidationStatusResponse"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/general-partner/{filing_resource_id}/filings": {
      "get": {
        "tags": [
          "General Partners",
          "Filings"
        ],
        "summary": "Returns the general partner filing data ready to send to CHIPS",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Filing Data",
            "schema": {
              "items": {
                "$ref": "#/definitions/GetFilingsResponse"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/limited-partner": {
      "post": {
        "tags": [
          "Limited Partners"
        ],
        "summary": "Create a Limited Partner",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LimitedPartnerSubmission"
            }
          }
        ],
        "responses": {
          "201": {
            "description": "Limited Partner has been successfully created.",
            "schema": {
              "$ref": "#/definitions/CreatedResponse"
            }
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/limited-partner/{filing_resource_id}": {
      "get": {
        "tags": [
          "Limited Partners"
        ],
        "summary": "Get Limited Partner details",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LimitedPartnerData"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      },
      "patch": {
        "tags": [
          "Limited Partners"
        ],
        "summary": "Update a Limited Partner details",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "body",
            "in": "body",
            "required": true,
            "schema": {
              "$ref": "#/definitions/LimitedPartnerSubmission"
            }
          }
        ],
        "responses": {
          "200": {
             "description": "Limited Partner has been successfully updated."
          },
          "400": {
            "description": "Bad Request"
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/limited-partners": {
      "get": {
        "tags": [
          "Limited Partners"
        ],
        "summary": "Get a list of Limited Partners for a given transaction",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/LimitedPartnerData"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/limited-partner/{filing_resource_id}/validation-status": {
      "get": {
        "tags": [
          "Limited Partners",
          "Validation Status"
        ],
        "summary": "Verify that the limited partner resource is valid",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Successful response",
            "schema": {
              "$ref": "#/definitions/ValidationStatusResponse"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/transactions/{transaction_id}/limited-partnership/limited-partner/{filing_resource_id}/filings": {
      "get": {
        "tags": [
          "Limited Partners",
          "Filings"
        ],
        "summary": "Returns the limited partner filing data ready to send to CHIPS",
        "parameters": [
          {
            "name": "transaction_id",
            "in": "path",
            "required": true,
            "type": "string"
          },
          {
            "name": "filing_resource_id",
            "in": "path",
            "required": true,
            "type": "string"
          }
        ],
        "responses": {
          "200": {
            "description": "Filing Data",
            "schema": {
              "items": {
                "$ref": "#/definitions/GetFilingsResponse"
              },
              "type": "array"
            }
          },
          "401": {
            "description": "Unauthorised"
          },
          "403": {
            "description": "Forbidden"
          },
          "404": {
            "description": "Not Found"
          },
          "500": {
            "description": "Internal Server Error"
          }
        }
      }
    },
    "/limited-partnership/healthcheck": {
      "get": {
        "summary": "Health check URL returns 200 if service is running",
        "tags": [
          "Healthcheck"
        ],
        "responses": {
          "200": {
            "description": "Request has been received",
            "schema": {
              "type": "object"
            }
          }
        }
      }
    }
  },
  "definitions": {
    "IncorporationData": {
      "type": "object",
      "properties": {
        "kind": {
          "type": "string",
          "enum": [
            "limited-partnership-registration",
            "limited-partnership-transition"
          ]
        }
      }
    },
    "PartnershipData": {
      "type": "object",
      "properties": {
        "partnership_name": {
          "type": "string"
        },
        "name_ending": {
          "type": "string",
          "enum": [
            "Limited Partnership",
            "LP",
            "L.P.",
            "Partneriaeth Cyfyngedig",
            "PC",
            "P.C."
          ]
        },
        "partnership_type": {
          "type": "string",
          "enum": [
            "LP",
            "PFLP",
            "SLP",
            "SPFLP"
          ]
        },
        "jurisdiction": {
          "type": "string",
          "enum": [
            "England and Wales",
            "Northern Ireland",
            "Scotland"
          ]
        },
        "lawful_purpose_statement_checked": {
          "type": "boolean"
        }
      }
    },
    "PartnerData": {
       "type": "object",
       "properties": {
          "date_effective_from": {
            "type": "string",
            "format": "date"
          },
          "date_of_birth": {
            "type": "string",
            "format": "date"
          },
          "etag": {
            "type": "string"
          },
          "legal_entity_name": {
            "type": "string"
          },
          "forename": {
            "type": "string"
          },
          "former_names": {
            "type": "string"
          },
          "governing_law": {
            "type": "string"
          },
          "kind": {
            "type": "string"
          },
          "legal_entity_register_name": {
            "type": "string"
          },
          "legal_entity_registration_location": {
            "$ref": "#/definitions/Country"
          },
          "legal_form": {
            "type": "string"
          },
          "nationality1": {
            "$ref": "#/definitions/Nationality"
          },
          "nationality2": {
            "$ref": "#/definitions/Nationality"
          },
          "not_disqualified_statement_checked" :{
            "type" : "boolean"
          },
          "principal_office_address": {
             "$ref": "#/definitions/Address"
          },
          "registered_company_number": {
            "type": "string"
          },
          "resignation_date": {
            "type": "string",
            "format": "date"
          },
          "service_address": {
            "$ref": "#/definitions/Address"
          },
          "surname": {
            "type": "string"
          },
          "usual_residential_address": {
            "$ref": "#/definitions/Address"
          }
       }
    },
    "LimitedPartnerData": {
      "allOf": [
        {
          "type": "object",
          "properties": {
            "contribution_currency_type": {
              "type": "string"
            },
            "contribution_currency_value": {
              "type": "string"
            },
            "contribution_sub_types": {
              "type": "array",
              "items": {
                "type": "string",
                "enum": [
                  "MONEY",
                  "LAND_OR_PROPERTY",
                  "SHARES",
                  "SERVICES_OR_GOODS",
                  "ANY_OTHER_ASSET"
                ]
              }
            }
          }
        },
        {
          "$ref": "#/definitions/PartnerData"
        }
      ]
    },
    "LimitedPartnershipIncorporationGetResponse": {
      "type": "object",
      "required": [
        "etag",
        "kind"
      ],
      "properties": {
        "etag": {
          "type": "string"
        },
        "kind": {
          "type": "string"
        },
        "sub_resources": {
          "type": "object",
          "properties": {
            "general_partners": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/PartnerData"
              }
            },
            "limited_partners": {
              "type": "array",
              "items": {
                "$ref": "#/definitions/LimitedPartnerData"
              }
            },
            "partnership": {
              "type": "object",
              "$ref": "#/definitions/LimitedPartnershipSubmission"
            }
          }
        }
      }
    },
    "GetFilingsResponse": {
      "type": "object",
      "properties": {
        "data": {
          "type": "object",
          "additionalProperties": {
            "type": "object"
          }
        },
        "description": {
          "type": "string"
        },
        "description_identifier": {
          "type": "string"
        },
        "description_values": {
          "type": "object",
          "additionalProperties": {
            "type": "string"
          }
        },
        "kind": {
          "type": "string"
        },
        "cost": {
          "type": "string"
        }
      }
    },
    "ValidationStatusResponse": {
      "type": "object",
      "properties": {
        "is_valid": {
          "type": "boolean"
        },
        "errors": {
          "type": "array",
          "items": {
            "$ref": "#/definitions/ValidationStatusError"
          }
        }
      }
    },
    "ValidationStatusError": {
      "type": "object",
      "properties": {
        "error": {
          "type": "string"
        },
        "location": {
          "type": "string"
        },
        "location_type": {
          "type": "string"
        },
        "type": {
          "type": "string"
        }
      }
    },
    "IncorporationSubmission": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "$ref": "#/definitions/IncorporationData"
        }
      }
    },
    "LimitedPartnershipSubmission": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
          "$ref": "#/definitions/PartnershipData"
        }
      }
    },
    "GeneralPartnerSubmission": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
         "$ref": "#/definitions/PartnerData"
        }
      }
    },
    "LimitedPartnerSubmission": {
      "type": "object",
      "required": [
        "data"
      ],
      "properties": {
        "data": {
         "$ref": "#/definitions/LimitedPartnerData"
        }
      }
    },
    "Address" : {
      "type": "object",
      "required": [
        "address_line_1",
        "country",
        "locality",
        "postal_code",
        "premises"
      ],
      "properties": {
        "address_line_1": {
          "type": "string"
        },
        "address_line_2": {
          "type": "string"
        },
        "care_of": {
          "type": "string"
        },
        "country": {
          "type": "string"
        },
        "locality": {
          "type": "string"
        },
        "po_box": {
          "type": "string"
        },
        "postal_code": {
          "type": "string"
        },
        "premises": {
          "type": "string"
        },
        "region": {
          "type": "string"
        }
      }
    },
    "Country" : {
      "type": "string",
      "enum": [
        "Afghanistan",
        "Aland Islands",
        "Albania",
        "Algeria",
        "Alderney",
        "American Samoa",
        "Andorra",
        "Angola",
        "Anguilla",
        "Antarctica",
        "Antigua and Barbuda",
        "Argentina",
        "Armenia",
        "Aruba",
        "Australia",
        "Austria",
        "Azerbaijan",
        "Bahamas",
        "Bahrain",
        "Bangladesh",
        "Barbados",
        "Belarus",
        "Belgium",
        "Belize",
        "Benin",
        "Bermuda",
        "Bhutan",
        "Bolivia",
        "Bonaire, Sint Eustatius and Saba",
        "Bosnia and Herzegovina",
        "Botswana",
        "Bouvet Island",
        "Brazil",
        "British Indian Ocean Territory",
        "Brunei Darussalam",
        "Bulgaria",
        "Burkina Faso",
        "Burundi",
        "Cambodia",
        "Cameroon",
        "Canada",
        "Cape Verde",
        "Cayman Islands",
        "Central African Republic",
        "Chad",
        "Chile",
        "China",
        "Christmas Island",
        "Cocos (Keeling) Islands",
        "Colombia",
        "Comoros",
        "Congo",
        "Congo, the Democratic Republic of the",
        "Cook Islands",
        "Costa Rica",
        "Croatia",
        "Cuba",
        "Curacao",
        "Cyprus",
        "Czech Republic",
        "Denmark",
        "Djibouti",
        "Dominica",
        "Dominican Republic",
        "East Timor",
        "Ecuador",
        "Egypt",
        "El Salvador",
        "England",
        "Equatorial Guinea",
        "Eritrea",
        "Estonia",
        "Eswatini",
        "Ethiopia",
        "Falkland Islands",
        "Faroe Islands",
        "Fiji",
        "Finland",
        "France",
        "French Guiana",
        "French Polynesia",
        "French Southern Territories",
        "Gabon",
        "Gambia",
        "Georgia",
        "Germany",
        "Ghana",
        "Gibraltar",
        "Greece",
        "Greenland",
        "Grenada",
        "Guadeloupe",
        "Guam",
        "Guatemala",
        "Guernsey",
        "Guinea",
        "Guinea-Bissau",
        "Guyana",
        "Haiti",
        "Heard Island and McDonald Islands",
        "Herm",
        "Honduras",
        "Hong Kong",
        "Hungary",
        "Iceland",
        "India",
        "Indonesia",
        "Iran",
        "Iraq",
        "Ireland",
        "Isle of Man",
        "Israel",
        "Italy",
        "Ivory Coast",
        "Jamaica",
        "Japan",
        "Jersey",
        "Jordan",
        "Kazakhstan",
        "Kenya",
        "Kiribati",
        "Kosovo",
        "Kuwait",
        "Kyrgyzstan",
        "Laos",
        "Latvia",
        "Lebanon",
        "Lesotho",
        "Liberia",
        "Libya",
        "Liechtenstein",
        "Lithuania",
        "Luxembourg",
        "Macao",
        "Macedonia",
        "Madagascar",
        "Malawi",
        "Malaysia",
        "Maldives",
        "Mali",
        "Malta",
        "Marshall Islands",
        "Martinique",
        "Mauritania",
        "Mauritius",
        "Mayotte",
        "Mexico",
        "Micronesia",
        "Moldova",
        "Monaco",
        "Mongolia",
        "Montenegro",
        "Montserrat",
        "Morocco",
        "Mozambique",
        "Myanmar",
        "Namibia",
        "Nauru",
        "Nepal",
        "Netherlands",
        "New Caledonia",
        "New Zealand",
        "Nicaragua",
        "Niger",
        "Nigeria",
        "Niue",
        "Norfolk Island",
        "North Korea",
        "Northern Ireland",
        "Northern Mariana Islands",
        "Norway",
        "Oman",
        "Pakistan",
        "Palau",
        "Palestine, State of",
        "Panama",
        "Papua New Guinea",
        "Paraguay",
        "Peru",
        "Philippines",
        "Pitcairn",
        "Poland",
        "Portugal",
        "Puerto Rico",
        "Qatar",
        "Reunion",
        "Romania",
        "Russia",
        "Rwanda",
        "Saint Barthelemy",
        "Saint Helena, Ascension and Tristan da Cunha",
        "Saint Kitts and Nevis",
        "Saint Lucia",
        "Saint Martin (French part)",
        "Saint Pierre and Miquelon",
        "Saint Vincent and the Grenadines",
        "Samoa",
        "San Marino",
        "Sao Tome and Principe",
        "Sark",
        "Saudi Arabia",
        "Scotland",
        "Senegal",
        "Serbia",
        "Seychelles",
        "Sierra Leone",
        "Singapore",
        "Sint Maarten (Dutch part)",
        "Slovakia",
        "Slovenia",
        "Solomon Islands",
        "Somalia",
        "South Africa",
        "South Georgia and the South Sandwich Islands",
        "South Korea",
        "South Sudan",
        "Spain",
        "Sri Lanka",
        "Sudan",
        "Suriname",
        "Svalbard and Jan Mayen",
        "Sweden",
        "Switzerland",
        "Syria",
        "Taiwan",
        "Tajikistan",
        "Tanzania",
        "Thailand",
        "Togo",
        "Tokelau",
        "Tonga",
        "Trinidad and Tobago",
        "Tunisia",
        "Turkey",
        "Turkmenistan",
        "Turks and Caicos Islands",
        "Tuvalu",
        "Uganda",
        "Ukraine",
        "United Arab Emirates",
        "United Kingdom",
        "United States",
        "United States Minor Outlying Islands",
        "Uruguay",
        "Uzbekistan",
        "Vanuatu",
        "Vatican City",
        "Venezuela",
        "Vietnam",
        "Virgin Islands, British",
        "Virgin Islands, U.S.",
        "Wales",
        "Wallis and Futuna",
        "Western Sahara",
        "Yemen",
        "Zambia",
        "Zimbabwe",
        ""
      ]
    },
    "Nationality" : {
      "type": "string",
      "enum": [
        "Afghan",
        "Albanian",
        "Algerian",
        "American",
        "Andorran",
        "Angolan",
        "Anguillan",
        "Argentine",
        "Armenian",
        "Australian",
        "Austrian",
        "Azerbaijani",
        "Bahamian",
        "Bahraini",
        "Bangladeshi",
        "Barbadian",
        "Belarusian",
        "Belgian",
        "Belizean",
        "Beninese",
        "Bermudian",
        "Bhutanese",
        "Bolivian",
        "Botswanan",
        "Brazilian",
        "British",
        "British Virgin Islander",
        "Bruneian",
        "Bulgarian",
        "Burkinan",
        "Burmese",
        "Burundian",
        "Cambodian",
        "Cameroonian",
        "Canadian",
        "Cape Verdean",
        "Cayman Islander",
        "Central African",
        "Chadian",
        "Chilean",
        "Chinese",
        "Citizen of Antigua and Barbuda",
        "Citizen of Bosnia and Herzegovina",
        "Citizen of Guinea-Bissau",
        "Citizen of Kiribati",
        "Citizen of Seychelles",
        "Citizen of the Dominican Republic",
        "Citizen of Vanuatu",
        "Colombian",
        "Comoran",
        "Congolese (Congo)",
        "Congolese (DRC)",
        "Cook Islander",
        "Costa Rican",
        "Croatian",
        "Cuban",
        "Cymraes",
        "Cymro",
        "Cypriot",
        "Czech",
        "Danish",
        "Djiboutian",
        "Dominican",
        "Dutch",
        "East Timorese",
        "Ecuadorean",
        "Egyptian",
        "Emirati",
        "English",
        "Equatorial Guinean",
        "Eritrean",
        "Estonian",
        "Ethiopian",
        "Faroese",
        "Fijian",
        "Filipino",
        "Finnish",
        "French",
        "Gabonese",
        "Gambian",
        "Georgian",
        "German",
        "Ghanaian",
        "Gibraltarian",
        "Greek",
        "Greenlandic",
        "Grenadian",
        "Guamanian",
        "Guatemalan",
        "Guinean",
        "Guyanese",
        "Haitian",
        "Honduran",
        "Hong Konger",
        "Hungarian",
        "Icelandic",
        "Indian",
        "Indonesian",
        "Iranian",
        "Iraqi",
        "Irish",
        "Israeli",
        "Italian",
        "Ivorian",
        "Jamaican",
        "Japanese",
        "Jordanian",
        "Kazakh",
        "Kenyan",
        "Kittitian",
        "Kosovan",
        "Kuwaiti",
        "Kyrgyz",
        "Lao",
        "Latvian",
        "Lebanese",
        "Liberian",
        "Libyan",
        "Liechtenstein citizen",
        "Lithuanian",
        "Luxembourger",
        "Macanese",
        "Macedonian",
        "Malagasy",
        "Malawian",
        "Malaysian",
        "Maldivian",
        "Malian",
        "Maltese",
        "Marshallese",
        "Martiniquais",
        "Mauritanian",
        "Mauritian",
        "Mexican",
        "Micronesian",
        "Moldovan",
        "Monegasque",
        "Mongolian",
        "Montenegrin",
        "Montserratian",
        "Moroccan",
        "Mosotho",
        "Mozambican",
        "Namibian",
        "Nauruan",
        "Nepalese",
        "New Zealander",
        "Nicaraguan",
        "Nigerian",
        "Nigerien",
        "Niuean",
        "North Korean",
        "Northern Irish",
        "Norwegian",
        "Omani",
        "Pakistani",
        "Palauan",
        "Palestinian",
        "Panamanian",
        "Papua New Guinean",
        "Paraguayan",
        "Peruvian",
        "Pitcairn Islander",
        "Polish",
        "Portuguese",
        "Prydeinig",
        "Puerto Rican",
        "Qatari",
        "Romanian",
        "Russian",
        "Rwandan",
        "Salvadorean",
        "Sammarinese",
        "Samoan",
        "Sao Tomean",
        "Saudi Arabian",
        "Scottish",
        "Senegalese",
        "Serbian",
        "Sierra Leonean",
        "Singaporean",
        "Slovak",
        "Slovenian",
        "Solomon Islander",
        "Somali",
        "South African",
        "South Korean",
        "South Sudanese",
        "Spanish",
        "Sri Lankan",
        "St Helenian",
        "St Lucian",
        "Stateless",
        "Sudanese",
        "Surinamese",
        "Swazi",
        "Swedish",
        "Swiss",
        "Syrian",
        "Taiwanese",
        "Tajik",
        "Tanzanian",
        "Thai",
        "Togolese",
        "Tongan",
        "Trinidadian",
        "Tristanian",
        "Tunisian",
        "Turkish",
        "Turkmen",
        "Turks and Caicos Islander",
        "Tuvaluan",
        "Ugandan",
        "Ukrainian",
        "Uruguayan",
        "Uzbek",
        "Vatican citizen",
        "Venezuelan",
        "Vietnamese",
        "Vincentian",
        "Wallisian",
        "Welsh",
        "Yemeni",
        "Zambian",
        "Zimbabwean"
      ]
    },
    "CreatedResponse": {
      "type": "object",
      "properties": {
        "id": {
          "type": "string"
        }
      }
    },
    "CostsResponse": {
      "type": "object",
      "properties": {
        "amount": {
          "type": "string"
        },
        "availablePaymentMethods": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "classOfPayment": {
          "type": "array",
          "items": {
            "type": "string"
          }
        },
        "description": {
          "type": "string"
        },
        "descriptionIdentifier": {
          "type": "string"
        },
        "descriptionValues": {
          "type": "object",
          "properties": {
            "key": {
              "type": "string"
            },
            "value": {
              "type": "string"
            }
          }
        },
        "isVariablePayment": {
          "type": "boolean"
        },
        "kind": {
          "type": "string"
        },
        "resourceKind": {
          "type": "string"
        },
        "productType": {
          "type": "string"
        },
        "links": {
          "type": "object",
          "properties": {
            "self": {
              "type": "string",
              "format": "uuid"
            }
          }
        }
      }
    }
  }
}

